@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm), sans-serif;
  --font-display: var(--font-fraunces), serif;
  --color-accent: #F25C3B;
}

body {
  font-family: var(--font-sans);
}
